# Python virtual environments
.venv/
venv/
env/

# Python bytecode
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local configs
.env

# IDE files
.vscode/
.idea/
README.md